a:link {text-decoration: none;color:#a9bfd3;font-weight:bold}
a:visited {text-decoration: none;color:#a9bfd3;font-weight:bold}
a:active {text-decoration: none;color:#a9bfd3;font-weight:bold}
a:hover {text-decoration: none;color:#e3d4ae;font-weight:bold}

body {
	background-color:#000000;
	padding:0;
	margin:0;
    font-size:10px;
    font-family:Trebuchet MS;
    color:#406771;
}

header {
	width: 1024px;
	margin: 0 auto;
}

header img {
	width: 900px;
	height: 900px;
}

footer {
	width: 1024px;
	margin: -50px auto 0;
    text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
    display: inline-block;
}

ul li a {
	display: block;
	width: 91px;
	height: 41px;
    background: url('images/SocialButtons.jpg') no-repeat;
}

.facebook { 
	background-position: 0 0;
}

.facebook:hover { 
	background-position: 0 -41px;
}

.twitter { 
	background-position: -91px 0;
}

.twitter:hover { 
	background-position: -91px -41px;
}

.soundcloud { 
	background-position: -182px 0;
}

.soundcloud:hover { 
	background-position: -182px -41px;
}

.beatport { 
	background-position: -273px 0;
}

.beatport:hover { 
	background-position: -273px -41px;
}

